.homepage-main-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    width: 30%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
}

.browse-image {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
    img {
        max-width: 60%;
        max-height: 500px;
    }
}

@media (min-width: 768px) {
    img {
        max-width: 80%;
    }
}


