<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="../static/css/branding.css"/>
</head>
<body>
    {% include 'navbar.html'%}
    <h1>{{ recipe.name }}</h1>
    <div class="recipe-info">
      <div class="recipe-description">
        <h2>Description</h2>
        <p>{{ recipe.description }}</p>
        <img src="{{ recipe.images[0] }}" alt="recipe photo">
      </div>

      <div class="recipe-ingredients">
        <h2>Ingredients</h2>
        <ul>
          {% for item in recipe.ingredients %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="recipe-instructions">
        <h2>Instructions</h2>
        <ol>
          {% for step in recipe.instructions %}
            <li>{{ step }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>

</body>
</html>

